extends layout

block content
  .container.margin-top
    .row
      .col.s12.l6.offset-l3
        .card.blue-grey.darken-1
          .card-content.white-text
            span.card-title
              h5= title
            span.card-action
              p= message
      .col.s2.offset-s3
        a.left-align(href='/contacto') Concato
      .col.s2.offset-s3
        a.right-align(href='/') Inicio
